/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    align-items: baseline;
    padding-top: 0.5em;
}

nav ul li {
    padding-left: 1em;
    color: #0D01A4;
}

nav ul li img {
    width: 1.3em;
}

nav ul li:first-child {
    flex-grow: 2;
    font-size: 2em;
    font-weight: bolder;
    font-family: sans-serif;
}

nav ul li:last-child {
    padding-right: 1em;
}


/* Zoekbalk */
form {
    background-color: #0D01A4;
    margin-top: 0.5em;
    padding: 1em 0em;
}

form input {
    width: 23em;
    margin-left: 1em;
    border-radius: 2em 0em 0em 2em;
    border: 1px solid white;
    padding: 0.8em 0.4em 0.8em 2em;
}

form button {
    background-color: white;
    border: 0em solid white;
    border-radius: 0em 2em 2em 0em;
    padding: 0.8em 1em 0.8em 0.4em;
}

form button img {
    width: 1em;
}

/* Body */
h2 {
    margin: 1em 0em 0.5em 0.5em;
    font-family: sans-serif;
    font-size: 1.3em;
}

.introtekst {
    margin: 1em 0.8em 1em 0.8em;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5em;
}

.headerimg {
    width: 23.5em;
    padding: 0em 0.8em;
}

/* Slider 1  */
.slider1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.slider1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.slider1 ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    border: 1px solid darkgray;
    padding: 0.2em 0.5em;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
}

.slider1 ul li img {
    width: 2em;
    margin-right: 0.8em;
}

.slider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.slider2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.slider2 ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 5em;
    height: 5em;
    padding-right: 1em;
    align-items: center;
}

.slider2 ul li a {}

.slider2 ul li a img {
    max-height: 3.25em;
    max-width: 3.25em;
    border: 0.1em solid darkgray;
    border-radius: 2em;
}

/* Product */
.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 1.2em 0.8em 2em 0.8em;
    border-top: 1px solid darkgray;
}

.product img {
    width: 25%;
}

.product div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1.5em;
}

.uitgever {
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 0.8em;
    color: gray;
}

.product div h2 {
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
    padding-bottom: 0.8em;
}

.metadata {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    color: gray;
    padding-bottom: 0.8em;
}

.prijs {
    font-family: serif;
    font-weight: bolder;
    color: red;
    font-size: 1.5em;
}

/*aanbevolen sectie*/
.aanbevolen {
    display: flex;
    flex-direction: row;
}

.aanbevolen ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5em 0.8em;
}

.aanbevolen ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    border: 1px solid darkgray;
    padding: 1em 3em 1em;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;

}

.saanbevolen ul li img {
    width: 2em;
    margin-right: 0.8em;
}

/* Homepage */
.indexheaderimg {
    width: 23.5em;
}

.indexslider1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.indexslider1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.indexslider1 ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0.2em 0.4em;
    align-items: center;
    align-content: flex-start;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
}

.indexslider1 ul li img {
    width: 8em;
    height: 8em;
    margin-bottom: 0.5em;
    /*https://www.w3schools.com/css/css3_object-fit.asp*/
    object-fit: contain;
}

/* Footer */
.services {
    background-color: #0D01A4;
    padding: 1em 0.8em;
    margin-top: 4em;

}

.services h2 {
    color: white;
}

.services div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em 1em;
}

.services div img {
    width: 4em;
    margin-right: 2em;
}

.services div li {
    color: white;
    font-family: sans-serif;
    list-style: none;
    font-weight: lighter;
    font-size: 0.8em;
}

.services div li:first-child {
    font-weight: bold;
}
