/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    align-items: baseline;
    padding-top: 0.5em;
}

nav ul li {
    padding-left: 1em;
    color: #0D01A4;
}

nav ul li:first-child img {
    width: 4em;
}

nav ul li img {
    width: 1.3em;
}

nav ul li:first-child {
    flex-grow: 2;
    font-size: 2em;
}

nav ul li:last-child {
    padding-right: 1em;
}


/* Zoekbalk */
form {
    background-color: #0D01A4;
    margin-top: 0.5em;
    padding: 1em 0em;
}

form input {
    width: 23em;
    margin-left: 1em;
    border-radius: 2em 0em 0em 2em;
    border: 1px solid white;
    padding: 0.8em 0.4em 0.8em 2em;
}

form button {
    background-color: white;
    border: 0em solid white;
    border-radius: 0em 2em 2em 0em;
    padding: 0.8em 1em 0.8em 0.4em;
}

form button img {
    width: 1em;
}

/* Body */
h2 {
    margin: 1em 0em 0.5em 0.5em;
    font-family: 'Arvo', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
}

.introtekst {
    margin: 1em 0.8em 1em 0.8em;
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5em;
    font-family: sans-serif;
}

.headerimg {
    width: 23.5em;
    padding: 0em 0.8em;
}

/* Slider 1  */
.slider1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.slider1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.slider1 ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    border: 1px solid darkgray;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
   
}

.slider1 ul li img {
    width: 2em;
    margin-right: 0.8em;
}

.slider1 ul li a {
    text-decoration: none;
    color: black;
    min-width: 6em;
    
}

.slider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.slider2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.slider2 ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 5em;
    height: 5em;
    padding-right: 1em;
    align-items: center;
}

.slider2 ul li a {
    width: 4em;
    height: 4em;
    border-radius: 5em;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*images in slider 1 */
.slider2 ul li a img {
    max-height: 2.5em;
    max-width: 2.5em;
}

/* Product */
.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 1.2em 0.8em 2em 0.8em;
    border-top: 1px solid darkgray;
}

.product img {
    width: 25%;
}

.product div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1.5em;
}

.uitgever {
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 0.8em;
    color: gray;
}

.product div h2 {
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0em 0em 0.8em 0em;
}

.metadata {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    color: gray;
    padding-bottom: 0.8em;
}

/* Sterren Product */
.review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 6em;
    padding: 0em 0em 0.5em 0em;
    margin 0em;
}

.review li {
    list-style: none;
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
    font-size: 0.8em;
    color: darkgray;
}

.review li img {
    min-width: 0.9em;
    min-height: 0.9em;
    padding: 0em;
    margin 0em;
}

/* Prijs */
.prijs {
    font-family: 'Arvo', sans-serif;
    font-weight: bolder;
    color: red;
    font-size: 1.5em;
    padding-bottom: 0.4em;
}

.voorraad {
    color: green;
    font-family: sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.3em 0.1em;
    border: green 1px solid;
    max-width: 8em;
    text-align: center;
    margin-bottom: 0.8em;
}

.besteld {
    color: green;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: lighter;
}

/*aanbevolen sectie*/
.h2aanbevolen {
    margin: auto;
    text-align: center;
    padding: 1em 0em;
    background-color: #F0F6FF;
}

.aanbevolen {
    display: flex;
    flex-direction: row;
    padding: 0em 1em 2em 1em;
    background-color: #F0F6FF;
}

.aanbevolen ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.aanbevolen ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid darkgray;
    padding: 1em 1em;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
    min-width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    margin: 0.2em 0em;
}

.aanbevolen ul li img {
    width: 4em;
    margin: 0.3em 1em 0.3em 0.5em;
}

/* Homepage */
.indexheaderimg {
    width: 23.5em;
}

.indexslider1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.indexslider1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.indexslider1 ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0.2em 0.4em;
    align-items: center;
    align-content: flex-start;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
}

.indexslider1 ul li a {
    text-decoration: none;
    color: gray;
}

.indexslider1 ul li img {
    width: 8em;
    height: 8em;
    margin-bottom: 0.5em;
    /*https://www.w3schools.com/css/css3_object-fit.asp*/
    object-fit: contain;
}

/* Footer */
.services {
    background-color: #0D01A4;
    padding: 1em 0.8em;
}

.services h2 {
    color: white;
}

.services div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em 1em;
}

.services div img {
    width: 4em;
    margin-right: 2em;
}

.services div li {
    color: white;
    font-family: sans-serif;
    list-style: none;
    font-weight: lighter;
    font-size: 0.8em;
}

.services div li:first-child {
    font-weight: bold;
}

.social {
    padding: 2.5em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social h2 {
    margin: auto;
    padding-bottom: 1.5em;
    font-size: 1em;
    font-family: sans-serif;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width 30em;
    list-style-type: none;
    padding-bottom: 1.5em;
}

.social ul li img {
    width: 1.2em;
    margin: 0em 0.5em;
}


.social p {
    margin: auto;
    padding-bottom: 1em;
    font-family: sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid darkgray;
}

.footerimg {
    width: 13em;
    margin: auto;
    margin-top: 2em;
}

.footerlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 0em;
    font-size: 0.8em;
    text-align: center;
}

.footerlinks li {
    padding: 0em 0.5em;
}

.voorwaarden {
    margin-bottom: 2em;
    font-size: 0.6em;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 0.5em;
}
