/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigatie menu */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    align-items: baseline;
    padding-top: 0.5em;
}

/* Lijst in navigatie menu*/
nav ul li {
    padding-left: 1em;
    color: #0D01A4;
}

/* Eerste item lijst van navigatie menu */
nav ul li:first-child img {
    width: 1.3em;
    padding-bottom: 0.2em;
}

/* Tweede item in lijst van navigatie menu */
nav ul li:nth-child(2) {
    flex-grow: 2;
    font-size: 2em;
    padding-left: 0.5em;
}

nav ul li:nth-child(2) img {
    width: 4em;
}

nav ul li img {
    width: 1.5em;
    transition: 0.3s;
}

/* Transistion hover om kleur vloeiender over te laten lopen */
/*https://css-tricks.com/almanac/properties/t/transition/*/
nav ul li img:hover {
    opacity: 30%;
}

/* Laatste item in de lijst van navigatie menu*/
nav ul li:last-child {
    padding-right: 1em;
}


/* Zoekbalk */
form {
    display: flex;
    justify-content: center;
    background-color: #0D01A4;
    margin-top: 0.5em;
    padding: 1em 0em;
}

form input {
    width: 85%;
    margin-left: 1em;
    border-radius: 2em 0em 0em 2em;
    border: 1px solid white;
    padding: 0.8em 0.4em 0.8em 2em;
}

/* Zoekbalk loop icoon */
form button {
    background-color: white;
    border: 0em solid white;
    border-radius: 0em 2em 2em 0em;
    padding: 0.8em 1em 0.8em 0.4em;
}

form button img {
    width: 1em;
}


/* Games pagina */
h2 {
    margin: 1em 0em 0.5em 0.5em;
    font-family: 'Arvo', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
}

.introtekst {
    margin: 1em 0.8em 1em 0.8em;
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.5em;
    font-family: sans-serif;
    max-width: 50em;
}

/* Games pagina header img */
.headerimg {
    width: 100%;
    max-width: 45em;
    padding: 0.5em;
}

/* Games Slider 1  */
.slider1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.slider1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.slider1 ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    border: 1px solid darkgray;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;

}

.slider1 ul li img {
    width: 2em;
    margin-right: 0.8em;
}

.slider1 ul li a {
    text-decoration: none;
    color: black;
    min-width: 6em;

}

/* Games slider 2 merken */
.slider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.slider2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.slider2 ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 5em;
    height: 5em;
    padding-right: 1em;
    align-items: center;
}

.slider2 ul li a {
    width: 4em;
    height: 4em;
    border-radius: 5em;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider2 ul li a img {
    max-height: 2.9em;
    max-width: 2.9em;
}

/* Sectie voor 1 product */
.product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 1.2em 0.8em 2em 0.8em;
    border-top: 1px solid darkgray;
}

/* Plaatje van product */
.product img {
    width: 25%;
    max-width: 8em;
}

/* Sectie naast het plaatje van product */
.product div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1.5em;
}

/* Uitgever van het product */
.uitgever {
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 0.8em;
    color: gray;
}

/* Titel van het product */
.product div h2 {
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0em 0em 0.8em 0em;
}

.metadata {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    color: gray;
    padding-bottom: 0.8em;
}

/* Sterren Product */
.review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 6em;
    padding: 0em 0em 0.5em 0em;
    margin 0em;
}

.review li {
    list-style: none;
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
    font-size: 0.8em;
    color: darkgray;
}

.review li img {
    min-width: 0.9em;
    min-height: 0.9em;
    padding: 0em;
    margin 0em;
}

/* Prijs van het product  */
.prijs {
    font-family: 'Arvo', sans-serif;
    font-weight: bolder;
    color: red;
    font-size: 1.5em;
    padding-bottom: 0.4em;
}

/* Voorraad van het product */
.voorraad {
    color: green;
    font-family: sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.3em 0.1em;
    border: green 1px solid;
    max-width: 8em;
    text-align: center;
    margin-bottom: 0.8em;
}

/* Wanneer in huis */
.besteld {
    color: green;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: lighter;
}

/* Verder kijken sectie */
.h2aanbevolen {
    margin: auto;
    text-align: center;
    padding: 1em 0em;
    background-color: #F0F6FF;
}

.aanbevolen {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0em 1em 2em 1em;
    background-color: #F0F6FF;
}

.aanbevolen ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.aanbevolen ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid darkgray;
    padding: 1em 1em;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
    min-width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    margin: 0.2em 0em;
    transition: 0.5s;
}

/* Transistion hover om kleur vloeiender over te laten lopen */
/*https://css-tricks.com/almanac/properties/t/transition/*/
.aanbevolen ul li:hover {
    background-color: skyblue;
    color: #ffffff;
    border: 1px solid skyblue;
}

.aanbevolen ul li img {
    width: 4em;
    margin: 0.3em 1em 0.3em 0.5em;
}

/* Homepage */
/* Black Friday image */
.indexheaderimg {
    width: 100%;
    max-width: 73em;
}

/* index slider 1 */
.indexslider1 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.indexslider1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.indexslider1 ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0.2em 0.4em;
    align-items: center;
    align-content: flex-start;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
}

.indexslider1 ul li a {
    text-decoration: none;
    color: gray;
}

.indexslider1 ul li img {
    width: 8.3em;
    height: 8.3em;
    margin-bottom: 0.5em;
    /*Zorgt ervoor dat image niet rekt */
    /*https://www.w3schools.com/css/css3_object-fit.asp*/
    object-fit: contain;
}

/* Index slider 2 */
.indexslider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.indexslider2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;

}

.indexslider2 ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0.2em 0.4em;
    align-items: center;
    align-content: flex-start;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
}

.indexslider2 ul li a {
    text-decoration: none;

}

.indexslider2 ul li img {
    width: 14em;
    height: 14em;
    margin-bottom: 0.5em;
    /*https://www.w3schools.com/css/css3_object-fit.asp*/
    object-fit: cover;

}

/* Games kerst image */
.midimg {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.midimg img {
    width: 100%;
    max-width: 73em;
}

/* Index slider 3 */
.indexslider3 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.indexslider3 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0.5em 0.8em;
}

.indexslider3 ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0.2em 0.4em;
    align-items: center;
    align-content: flex-start;
    font-family: sans-serif;
    color: gray;
    font-size: 1em;
    border-radius: 0.2em;
}

.indexslider3 ul li a {
    text-decoration: none;
}

.indexslider3 ul li img {
    width: 24em;
    margin-bottom: 0.5em;
    /*https://www.w3schools.com/css/css3_object-fit.asp*/
    object-fit: cover;
}


/* Dropdown menu - Ontdek alles van Bol.co. */
/*wrapper https://codepen.io/huange/pen/pJqEMj*/
}

.wrapper {
    margin: 10% auto;
    width: 400px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Categorienaam in dropdown menu*/
label {
    display: block;
    cursor: pointer;
    padding: 20px;
    border-bottom: solid 1px lightgray;
    font-family: sans-serif;
    font-weight: lighter;
}

label.last {
    border-bottom: 1px solid #fff;
}

ul ul li {
    padding: 20px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    border-bottom: solid 1px lightgray;
}

/* Laat checkbox verdwijnen */
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

input[type="checkbox"]:checked + label {
    border-bottom: 1px solid #fff;
}


/* Footer */

/* Services sectie */
.services {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #0D01A4;
    padding: 1em 0.8em;
    align-content: center;
}

.services h2 {
    color: white;
}

.services div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20em;
    padding: 1em 1em;
}

.services div img {
    width: 3em;
    margin-right: 2em;
}

.services div li {
    color: white;
    font-family: sans-serif;
    list-style: none;
    font-weight: lighter;
    font-size: 0.8em;
}

.services div li:first-child {
    font-weight: bold;
}

/* Social Media sectie */
.social {
    padding: 2.5em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social h2 {
    margin: auto;
    padding-bottom: 1.5em;
    font-size: 1em;
    font-family: sans-serif;
}

.social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width 30em;
    list-style-type: none;
    padding-bottom: 1.5em;
}

.social ul li img {
    width: 1.2em;
    margin: 0em 0.5em;
    transition: 0.3s;
}


.social ul li img:hover {
    opacity: 50%
}


.social p {
    margin: auto;
    padding-bottom: 1em;
    font-family: sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid darkgray;
}

/* Bol.com footer logo */
.footerimg {
    width: 13em;
    margin: auto;
    margin-top: 2em;
}

.footerlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 0em;
    font-size: 0.8em;
    text-align: center;
}

.footerlinks li {
    padding: 0em 0.5em;
}

/* Voorwaarden tekst */
.voorwaarden {
    margin-bottom: 2em;
    font-size: 0.6em;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 0.5em;
}


/* Hamburgermenu */
body article:last-of-type.zichtbaar {
    visibility: visible;
    opacity: 1;
    left: 0;
}

body article:last-of-type {
    /*    https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/*/
    position: absolute;
    z-index: 1;
    top: 0em;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    /*    https://css-tricks.com/almanac/properties/p/position/*/
    left: -100%
}

.fixedmenu {
    /*    https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/*/
    position: fixed;
    width: 100%;
    height: 70em;
    background-color: #ffffff;
    text-align: right;
}

.fixedmenudiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixedmenudiv ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0em 1em;
    max-width: 30em;
    overflow-y: scroll;
    height: 38em;
}

.fixedmenudiv ul li {
    text-align: center;
    width: 5em;
    margin: 0em 1em 2em 1em;
    font-family: sans-serif;
    color: #0D01A4;
}

.fixedmenudiv ul li:last-child {
    padding-bottom: 4em;
}

.fixedmenudiv ul li img {
    width: 4em;
}

#kruisje {
    width: 1em;
    height: 1em;
    margin: 1em 1.3em;
}

/* Tablet formaat */
@media all and (min-width: 600px) {
    main {
        margin: 0em 2em;
    }

    .maingames {
        margin: 0em 5em
    }

    form input {
        width: 55%;
    }
}

/* Desktop formaat */
@media all and (min-width: 1300px) {
    main {
        margin: 0em 7em;
    }

    .maingames {
        margin: 0em 23em;
    }
}
